<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="example-form">

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="Enter your email">
    <mat-error *ngIf="emailRequiredError">Email is required.</mat-error>
    <mat-error *ngIf="emailFormatError">Please enter a valid email address.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" placeholder="Enter your password">
    <mat-error *ngIf="passwordRequiredError">Password is required.</mat-error>
    <mat-error *ngIf="passwordMinLengthError">Password must be at least 6 characters long.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm your password">
    <mat-error *ngIf="confirmPasswordRequiredError">Confirming password is required.</mat-error>
    <mat-error *ngIf="signupForm.errors?.['notSame']">Passwords must match.</mat-error>
  </mat-form-field>

  <!-- ... other form fields ... -->

<div formArrayName="addresses">
  <div *ngFor="let address of addresses.controls; let i = index" [formGroupName]="i">
    <h4>Address {{ i + 1 }}</h4>
    <mat-form-field appearance="fill">
      <mat-label>Street</mat-label>
      <input matInput formControlName="street" placeholder="Street">
      <mat-error *ngIf="addresses.at(i).get('street')!.hasError('required')">Street is required.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <input matInput formControlName="city" placeholder="City">
      <mat-error *ngIf="addresses.at(i).get('city')!.hasError('required')">City is required.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Zip</mat-label>
      <input matInput formControlName="zip" placeholder="Zip Code">
      <mat-error *ngIf="addresses.at(i).get('zip')!.hasError('required')">Zip code is required.</mat-error>
    </mat-form-field>

    <button mat-raised-button color="warn" type="button" (click)="removeAddress(i)">Remove</button>
  </div>
</div>

<!-- ... remaining form fields ... -->


  <button mat-raised-button color="primary" type="button" (click)="addAddress()">Add another address</button>
  <button mat-raised-button color="accent" type="submit" [disabled]="signupForm.invalid">Sign Up</button>

</form>
